
@{
    ViewData["Title"] = "Animals";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}

    <div class="box-title">
        <h2><i class="fa-solid fa-table"></i> Animal Records</h2>
        <p>Stored records of all registered animals</p>
    </div>
    <div class="table-wrapper">
        <table class="animal-table">
            <thead>
                <tr>
                    <th>Animal ID</th>
                    <th>Tag No</th>
                    <th>Breed</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Health Status</th>
                    <th>Entry Date</th>
                </tr>
            </thead>
            <tbody id="animalTableBody">
                <!-- dynamic rows -->
            </tbody>
        </table>
    </div>